* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

ul.navBar {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

ul.navBar li h1 {
  float: left;
}

ul.navBar li a {
  float: right;
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: lighter;
}

ul.navBar li h1 a {
  border-left: none;
}

ul.navBar li a:hover {
  background-color: #5998ff;
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  color: #5998ff;
}

p {
  text-indent: 30px;
  text-align: justify;
  padding: 20px;
}

p.button {
  text-align: center;
}

button {
  background-color: white;
  border: none;
  color: #5998ff;
  text-decoration: none;
  padding: 20px 50px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #5998ff;
}

button:hover {
  background-color: #5998ff;
  color: white;
  border-color: white;
  transition-duration: .5s;
  border: 2px solid #5998ff;
}

main {
  width: 60%;
  float: left;
}

aside {
  width: 40%;
  float: left;
}

h2 {
  text-align: center;
  font-weight: lighter;
  padding: 20px;
}

ol.favMovies {
  padding: 30px;
}

ul.resumeTopics {
  padding: 30px;
}
